body {
    margin: 0px;
}

header {
    background-color: #517fa4;
    color: white;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

header h1 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

.body-main {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

@media (min-width: 1200px) {
    .body-main {
        width: 1150px;
    }
}

@media (min-width: 1400px) {
    .body-main {
        width: 1350px;
    }
}

.column {
    border: solid 1px gray;
    float: left;
    padding: 5px;
}

.column.config {
    width: 25%;
    background-color: #f7f7f7;
}

.column.network {
    width: 40%;
}

.column.query {
    width: 35%;
    background-color: #f7f7f7;
}

textarea {
    width: 100%;
    resize: vertical;
}

.info-box {
    margin-top: 3px;
    margin-top: 3px;
    border: 1px solid #517fa4;
}

#query-tags > li {
    color: black;
}

.qo-idxbar-marker {
    opacity: 0.6;
}

.qo-idxbar-connector {
    stroke: grey;
    stroke-width: 0.1;
    opacity: 0.6;
}

.qo-box {
    stroke: grey;
    stroke-width: 0.2;
}

.qo-item.GOOD .qo-box {
    stroke: #1b7a5a;
    stroke-width: 0.3;
}

.qo-item.BAD .qo-box {
    stroke: #7b3220;
    stroke-width: 0.3;
}

.qo-item.WATCHED .qo-box {
    stroke: #406582;
    stroke-width: 0.3;
}

.qo-control-icon {
    cursor: pointer;
    fill: transparent;
    stroke-width: 2px;
    stroke: #333;
}

.qo-item {
    fill: #eee;
}

.qo-item text {
    fill: #777;
}

.qo-item.GOOD, .qo-control-icon.thumb_up:hover, .qo-item.GOOD .qo-control-icon.thumb_up {
    fill: #24A479;
}

.qo-item.BAD, .qo-control-icon.thumb_down:hover, .qo-item.BAD .qo-control-icon.thumb_down {
    fill: #A4422A;
}

.qo-item.WATCHED {
    fill: #517fa4;
}

.qo-item.GOOD text, .qo-item.BAD text, .qo-item.WATCHED text {
    fill: white;
}

.qo-control-icon.waste_bascket:hover {
    fill: #333;
}

.qo-linechart-box {
    fill: #eee;
}

.qo-linechart {
    fill: none;
    stroke: #555;
    stroke-width: 0.5;
}
